.row{
    margin-top:20px;
}
h1{
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn-danger {
    margin-right:10px;
}
button {
    margin-top:20px;
}
.btn-danger {
    color: #fff;
    background-color: #64c39d;
    border-color: #64c39d;
}