<p-card
  header="Types of Issues"
  styleClass="ui-card-shadow card-margin"
  [style]="{margin: '10px'}"
>
  <p-header>
    <!-- <img src="Card" src="assets/showcase/images/usercard.png" /> -->
  </p-header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">Bug</div>
      <div class="col-md-3">Vulnerability</div>
      <div class="col-md-3">CodeSmell</div>
      <div class="col-md-3">Security Hotspot</div>
    </div>
  </div>
</p-card>
<p-card
  header="Severity"
  styleClass="ui-card-shadow"
  [style]="{margin: '10px'}"
>
  <p-header>
    <!-- <img src="Card" src="assets/showcase/images/usercard.png" /> -->
  </p-header>
  <div class="container">
      <div class="row">
        <div class="col-md-2">Blocker</div>
        <div class="col-md-2">Critical</div>
        <div class="col-md-2">Major</div>
        <div class="col-md-2">Minor</div>
        <div class="col-md-2">Info</div>
      </div>
    </div>
</p-card>
