.ui-card-body {
    padding: 1em;
    
}
.ui-card-shadow.card-margin.ui-card.ui-widget.ui-widget-content.ui-corner-all {
    margin-bottom:20px
}

.fa:before {
    font-size: 30px;
    color: #364594;
}
.fa-bug:before{
    font-size: 30px;
    color: #f50629;
}
.fa-minus-circle:before{
    color: #607D8B ;
}
.fa-shield:before{
    color: #18a9a9;
}
.fa-ban:before{
    color: #7d0404f5;
}
.fa-arrow-circle-up:before{
    color: #364594;
}
.fa-info-circle:before {
    color: #3384bb ;
}
.fa-arrow-circle-down:before{
    color: #519c51;
}
.countFont{
font-size:30px;
margin:5px;
}
.countNameFont{
    font-size:20px;
    color:black;
}