.ui-card-body {
    padding: 1em;
    
}
.ui-card-shadow.card-margin.ui-card.ui-widget.ui-widget-content.ui-corner-all {
    margin-bottom:20px
}
.fa-bug:before{
    font-size: 30px;
    color: #364594;
}
.fa:before {
    font-size: 30px;
    color: #364594;
}
.countFont{
font-size:30px;
margin:5px;
}
.countNameFont{
    font-size:20px;
    color:black;
}